{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans "Cancella voto" %}{% endblock %}

{% block content %}
<h2><b>{% trans "Cancellare veramente" %} {{object}} ?</b></h2>

<form method="POST">
{% csrf_token %}

<button type="submit" class="btn btn-lg btn-danger">
  <i class="fas fa-times" aria-hidden="true"></i>
  {% trans "Elimina" %}
</button>

</form>


{% endblock %}
