{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans "Situazione voti" %}{% endblock %}

{% block content %}
<h2><b>{% trans "Situazione voti" %} {{user.get_full_name|default:user.username}}</b></h2>
<h3>{% trans "Tutte le materie" %} - {% trans "media" %} {{all.1}}</h3>
<div id="graphAll" style="height:250px;"></div>
<script type="text/javascript">
  $(function() {
    var dx = {{all.0|safe}}
    $.plot("#graphAll", dx, {
      points: {show: true},
      lines: {show: true},
      xaxis: {
        mode: "time",
      }
    });
  });
</script>


<br>


{% for materia in materie %}
<h3>{{materia.0}} - {% trans "media" %} {{materia.3}}</h3>
{% if materia.1 %}
<div id="graph{{materia.0.id}}" style="height:250px;"></div>

<script type="text/javascript">
  $(function() {
    var dx = {{materia.1|safe}}
    $.plot("#graph{{materia.0.id}}", [dx], {
      points: {show: true},
      lines: {show: true},
      xaxis: {mode: "time"}
    });
  });
</script>
<br>

<table class="table">
  <thead>
    <tr>
      <th>{% trans "Data" %}</th>
      <th>{% trans "Voto" %}</th>
      <th>{% trans "Peso" %}</th>
      <th>{% trans "Commento" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for voto in materia.2 %}
    <tr>
      <td>{{voto.data}}</td>
      <td>{{voto.voto}}</td>
      <td>{% widthratio voto.peso 1 100 %} %</td>
      <td>{{voto.commento}}</td>
      <td>
        <a href="{% url 'modifica_voto' pk=voto.pk %}" title="{% trans 'Modifica voto' %}"
          class="btn btn-lg btn-primary">
          <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
        <a href="{% url 'cancella_voto' pk=voto.pk %}" title="{% trans 'Cancella voto' %}"
          class="btn btn-lg btn-danger">
          <i class="fas fa-times" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
</table>

<br>
{% else %}
{% trans "Ancora nessun voto" %}
{% endif %}
<br>
{% endfor %}


{% endblock %}
