{% load i18n %}
<div class="modal" tabindex="-1" role="dialog" id="nuovoVoto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Nuovo voto" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-close" aria-hidden="true"></i></span>
        </button>
      </div>
      <form action="{% url 'nuovo_voto' %}" method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{formnuovovoto.as_p}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Annulla" %}</button>
        <button type="submit" class="btn btn-success">{% trans "Salva" %}</button>
      </div>
      </form>
    </div>
  </div>
</div>
