{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans "Modifica voto" %}{% endblock %}

{% block content %}
<h2><b>{% trans "Modifica" %} {{object}}</b></h2>

<form method="POST">
{% csrf_token %}
{{form.as_p}}

<button type="submit" class="btn btn-lg btn-success">
  <i class="fas fa-save" aria-hidden="true"></i>
  {% trans "Salva" %}
</button>

</form>


{% endblock %}
