{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NotesManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-home" aria-hidden="true"></i>&nbsp;
          {% trans "Home" %}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#nuovoVoto">
          <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;
          {% trans "Nuovo voto" %}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pagella' %}">
          <i class="fas fa-scroll" aria-hidden="true"></i>&nbsp;
          {% trans "Pagella" %}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-hammer" aria-hidden="true"></i>&nbsp;
          {% trans "Amministrazione" %}
        </a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;
          {% trans "Logout" %}
        </a>
      </li>
    </ul>
  </div>
</nav>
