{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans "Anteprima pagella" %}{% endblock %}

{% block content %}
<h2><b>{% trans "Anteprima pagella" %} {{user.get_full_name|default:user.username}}</b></h2>
<br>
<table class="table table-striped">
  <tbody>
    {% for m in materie %}
    <tr>
      <td>{{m}}</td>
      <td>{{m.finale}}</td>
      <td>{{m.media|floatformat:"2"}}</td>
    </tr>
    {% endfor %}
    <tr><td></td><td></td><td></td></tr>
    <tr>
      <td style="text-align:center;"><b>MEDIA</b></td>
      <td>{{mediatotintera|floatformat:"-1"}}</td>
      <td>{{mediatotfloat|floatformat:"2"}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
